/* font size to class info
text color to class success and extends info
texto color to class warning and extends info */

$font-size-info: 12px;
$text-color-success-class: #00FF00;
$text-color-warning-class: #FF0000;

@mixin text-color($text-color) {
    color: $text-color;
}

.info {
    font-size: $font-size-info;
}

.success {
    @extend .info;
    @include text-color($text-color-success-class);
}

.warning {
    @extend .info;
    @include text-color($text-color-warning-class);
}
