/* font size to class info
text color to class success and extends info
texto color to class warning and extends info */

$font-size-info: 12px;
$text-color-success-class: #00FF00;
$text-color-warning-class: #FF0000;

%info {
    font-size: $font-size-info;
}

.info {
    @extend %info;
}

.success {
    @extend %info;
    color: $text-color-success-class;
}

.warning {
    @extend %info;
    color: $text-color-warning-class;
}
