/* font size to class info
text color to class success and extends info
texto color to class warning and extends info */

.info {
    font-size: 12px;
}

.success {
    @extend .info;
    color: #00FF00;
}

.warning {
    @extend .info;
    color: #FF0000;
}
